#destroy {
    padding: .8rem 1.2rem;
    font-size: 1.1rem;
    background-color: #cc241d;
    box-shadow: 0 0 10px #0e0f112d;
    color: #1d2021;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#destroy:focus {
    animation: destroy-click .2s;
}

@keyframes destroy-click {
    0%, 100% {
        background-color: #cc241d;
    }
    50% {
        background-color: #fb4934;
    }
}


#create-div {
    width: 100%;
    display: flex;
    justify-content: end;
}

#create {
    margin: 0 1rem;
    padding: 12px;
    font-size: 1rem;
    background-color: #b8bb26;
    box-shadow: 0 0 10px #0e0f112d;
    color: #1d2021;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#create:focus {
    animation: create-click .2s;
}

@keyframes create-click {
    0%, 100% {
        background-color: #b8bb26;
    }
    50% {
        background-color: #98971a;
    }
}

#edit {
    padding: .8rem 1.2rem;
    font-size: 1.1rem;
    background-color: #fabd2f;
    box-shadow: 0 0 10px #0e0f112d;
    color: #1d2021;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#edit:focus {
    animation: edit-click .2s;
}

@keyframes edit-click {
    0%, 100% {
        background-color: #fabd2f;
    }
    50% {
        background-color: #d79921;
    }
}