@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('user-content.css');
@import url('register.css');
@import url('buttons.css');
@import url('table.css');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    font-family: Roboto;
}

input {
    user-select: text;
}

body {
    width: 100%;
    background-color: #282828;
    color: #fbf1c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 1rem;
    background-color: #131516b7;
    box-shadow: 0 0 3px #010102a2;
    display: flex;
}

header > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

header a {
    margin-left: 1rem;
}

header img {
    padding:.5rem;
}

header form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

header button {
    background:none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

header form input {
    width: 120px;
    margin: 0;
}


h1 {
    color: #fbf1c7;
}

.content {
    margin: 1rem;
}

a > button {
    font-size: 1rem;
    background-color: #83a598;
    color: #141414;
    border-color: #16181a;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.109);
    padding: .6rem;
    transform: .3s;
    margin: .4rem;
    cursor: pointer;
}

a > button:focus {
    background-color: #83a598;
    animation: click .1s;
}

.error {
    color: #fbf1c7;
    margin-top: 5px;
    background-color: #fb4934;
    padding: 0 4px;
    border-radius: 3px;
}

.view {
    margin: 100rem;
}