form {
    display: flex;
    flex-direction: column;
}

form input, form select {
    background-color: #d5c4a1;
    border: none;
    padding: 8px;
    font-size: 1rem;
    border-radius: 3px;
    color: #1d2021;
}

form input {
    margin-bottom: 10px;
    box-shadow: inset 0 0 4px #1315168f;
}

form select {
    box-shadow: 0 0 10px #1315167e;

}

.submit-div {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

#submit {
    padding: 12px;
    font-size: 1rem;
    background-color: #b8bb26;
    box-shadow: 0 0 10px #0e0f112d;
    color: #1d2021;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#submit:focus {
    animation: submit-click .2s;
}

@keyframes submit-click {
    0%, 100% {
        background-color: #b8bb26;
    }
    50% {
        background-color: #98971a;
    }
}