@media only screen and (max-width) {
    table {
        width: 300px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: #1d2021;
    justify-content: center;
    margin: auto;
}

th {
    background-color: #131516;
    padding: .8rem;
}


.id {
    text-align: center;
    padding: 0 .8rem;
}

.buttons {
    display: flex;
    justify-content: end;
}

td, th {
    font-size: 1.2rem;
    text-align: left;
    border: 1px solid #141414;
}

td {
    padding: 0 1rem;
}

tr:nth-child(even) {
    background-color: #282828;
}