@media only screen and (max-width: 450px) {
    .user-container {
        border-bottom-width: 1px;
        border-bottom-color: tomato;
    }
}

#user-divs {
    width: 100%;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    justify-content: end;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 1rem;
    border-radius: 5px;
    background-color: #1315167e;
    box-shadow: 0 0 3px #010102a2;
}

.user-container {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-label {
    font-size: 1.4rem;
    font-weight: 300;
}

.user-content {
    font-size: 1.4rem;
    font-weight: 500;
}